# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Entornos virtuales
venv/
env/
.venv/

# Flask
uploads/
instance/

# Archivos temporales de prueba
test_boceto.jpg
resultados_test/

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Variables de entorno
.env
.env.local
